#Data Frame

##Data Frame Creation

In [2]:
import numpy as np
import pandas as pd

In [3]:
dict1 = {
    "Name": ['Alice', 'Bob', 'Charlie', 'Sowmik'],
    "Age": [25, 30, 35, 27],
    "City": ['New York', 'Los Angeles', 'Chicago', 'Chittagong']
}        #Creating a dictionary

In [4]:
df = pd.DataFrame(dict1) #Making it a pandas dataframe
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3   Sowmik   27   Chittagong

##Exporting Data Frame as .csv file

In [5]:
df.to_csv("friends.csv")  #Exporting as a csv file

In [ ]:
from google.colab import files  #Downloading the csv file into local machine
files.download("/content/friends.csv")

In [ ]:
from google.colab import drive  #Mounting the csv file into google drive
drive.mount('/content/drive')
df.to_csv("/content/drive/My Drive/friends.csv", index=False)

##Data Frame related Functions

In [6]:
df.head(2) #Displays the first 2 rows of the dataframe

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

In [7]:
df.tail(2) #Displays the last 2 rows of the dataframe

      Name  Age        City
2  Charlie   35     Chicago
3   Sowmik   27  Chittagong

In [8]:
df.describe() #Displays the statistical summary of the dataframe

             Age
count   4.000000
mean   29.250000
std     4.349329
min    25.000000
25%    26.500000
50%    28.500000
75%    31.250000
max    35.000000

##Uploading a .csv file into google colab and VS Code

In [ ]:
from google.colab import files #manually from local machine
uploaded = files.upload()

In [ ]:
df1 = pd.read_csv("Exercise_05_008.csv")
df1

In [12]:
df2 = pd.read_csv("C:/Users/USER/Downloads/rebuilt_tasks.csv")
df2

,Activity,Duration (days),Start Date,End Date,Date Error,Task Name
0,Commencing of the project,1 day,2025-01-26 18:40:11.862990,2025-01-27 18:40:11.862990,False,0 - Commencing of the project
1,Signing of the Agreement,1.0 days,2025-07-01 00:00:00.000000,2025-07-01 00:00:00.000000,False,0 - Signing of the Agreement
2,Scheduling of the Project,70.0 days,2025-07-02 00:00:00.000000,2025-09-09 00:00:00.000000,False,0 - Scheduling of the Project
3,"Mobilization of Resources, Office Setup and pr...",30.0 days,2025-09-10 00:00:00.000000,2025-10-09 00:00:00.000000,False,"0 - Mobilization of Resources, Office Setup an..."
4,Formation of Project Steering Committee,25.0 days,2025-10-10 00:00:00.000000,2025-11-03 00:00:00.000000,False,0 - Formation of Project Steering Committee
...,...,...,...,...,...,...
73,Environmental and social impact assessment,110.0 days,2033-08-23 00:00:00.000000,2033-12-12 00:00:00.000000,False,6 - Environmental and social impact assessment
74,Cost-benefit and efficiency evaluation,140.0 days,2033-12-13 00:00:00.000000,2034-04-30 00:00:00.000000,False,6 - Cost-benefit and efficiency evaluation
75,Reporting,1 day,2025-01-26 18:40:11.862990,2025-01-27 18:40:11.862990,False,6 - Reporting
76,Draft final report preparation,1 day,2034-05-01 00:00:00.000000,2034-10-30 00:00:00.000000,False,6 - Draft final report preparation
77,Final report preparation and submission,1 day,2034-11-01 00:00:00.000000,2035-06-30 00:00:00.000000,False,6 - Final report preparation and submission